---
import PageLayout from '../layouts/PageLayout.astro';
const allPosts = Object.values(import.meta.glob('./notebook/*.md', { eager: true }));
const pageTitle = "Notebook";
---
<PageLayout title={pageTitle}>  
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/tk.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  
  <body>

    <h1>{pageTitle}</h1>
    <h2>Uncensored thoughts on Life, The Universe, and Everything</h2>
    
    <ul class="notebook-posts-list">
        {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
    
  </body>
  </html>
  </PageLayout>