---
import PageLayout from '../layouts/PageLayout.astro';
import { Picture } from 'astro:assets';
import websiteImage from '../assets/images/projects/personalwebsite.png';
import finvizImage from '../assets/images/projects/finviz.png';
import pmvImage from '../assets/images/projects/pmv.png';
import baImage from '../assets/images/projects/bearappeal.png';
import debasImage from '../assets/images/projects/debas.jpeg';
import podImage from '../assets/images/projects/badtake.jpeg';
const pageTitle = "Projects - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>Projects</h1>
    <p>Here are some of my past and present projects that I had been/am involved with in various capacities.</p>
    
    <div class="projects-grid">
    
    <div>
        <figure>
              <Picture
                src={websiteImage}
                alt="a screenshot of the homepage of this website"
                formats={['avif', 'webp']}
              />
        </figure>
    <h2>Personal Website</h2>
    <p>This website, built on Astro and deployed on Vercel. A previous version of the site, achived below, was built on WordPress.</p>
    <ul class="project-links">
      <li><a href="/colophon">Colophon</a></li>
      <li><a href="/notebook/tag/the-great-astro-migration" target="_blank">Blogposts</a></li>
      <li><a href="https://archive.thamara.co.uk/">Archive</a></li>
    </ul>
    </div>

    <div>
        <figure>
              <Picture
                src={finvizImage}
                alt="a screenshot of the homepage of the Finviz app"
                formats={['avif', 'webp']}
              />
        </figure>
    <h2>Finviz</h2>
    <p>I vibe-coded a data visualisation app that can be used with CSV exports from Finances 2 (or similar double-entry based bookkeeping apps.)</p>
    <ul class="project-links">
      <li><a href="https://finviz.thamara.co.uk/login" target="_blank">Demo</a></li>
      <li><a href="https://github.com/thamarakandabada/finviz" target="_blank">Repo</a></li>
      <li><a href="https://thamara.co.uk/notebook/a-data-visualiser-for-finances-2/">Blog Post</a></li>
    </ul>
    </div>

    <div>
        <figure>
              <Picture
                src={pmvImage}
                alt="a screenshot of the homepage of my Physical Media Vault app"
                formats={['avif', 'webp']}
              />
        </figure>
    <h2>Physical Media Vault</h2>
    <p>I vibe-coded a simple React app with Lovable to catalogue my physical media collection.</p>
    <ul class="project-links">
      <li><a href="https://physicalmedia.thamara.co.uk/">Live App</a></li>
      <li><a href="https://github.com/thamarakandabada/physicalmediavault" target="_blank">Repo</a></li>
      <li><a href="https://thamara.co.uk/notebook/building-a-physical-media-showcase-with-lovable/">Blog Post</a></li>
    </ul>
    </div>
    
    <div>
        <figure>
              <Picture
                src={baImage}
                alt="a screenshot of the Bear Appeal online store's homepage"
                formats={['avif', 'webp']}
              />
        </figure>
    <h2>Bear Appeal</h2>
    <p>I built a successful e-commerce and apparel manufacturing business with my friend and co-founder Pavithra. While I’m no longer involved, the business continues to thrive under Pavithra and his team.</p>
    <ul class="project-links">
      <li><a href="https://bearappeal.com/" target="_blank">Website</a></li>
      <li><a href="/resume">More Info (Resume)</a></li>
      <li><a href="/notebook/tag/my-startu[-journey">Blog Posts</a></li>
    </ul>
    </div>

    <div>
        <figure>
              <Picture
                src={debasImage}
                alt="The Debas logo and the site description, which reads Debas is a platform which brings together diverse perspectives in conversation with one another in an increasingly polarised world"
                formats={['avif', 'webp']}
              />
        </figure>
    <h2>Debas</h2>
    <p>Debas was an online platform (now defunct) which brought together diverse perspectives on Sri Lankan politics, economy, society, and culture in dialogue with one another. I helped my friends Himal, Rajni, and Jo with this.</p>
    <ul class="project-links">
      <li><a href="/projects/debas">Archives</a></li>
    </ul>
    </div>

    <div>
        <figure>
              <Picture
                src={podImage}
                alt="The logo of The Bad Take Podcast set in white lettering against a magenta background"
                formats={['avif', 'webp']}
              />
        </figure>
    <h2>The Bad Take Podcast</h2>
    <p>A conversational podcast on anything from politics and pop culture to the universe and the meaning of life. I co-hosted this with my friend Himal. The episodes are still available online for your listening pleasure.</p>
    <ul class="project-links">
      <li><a href="https://creators.spotify.com/pod/profile/the-bad-take/" target="_blank">Listen</a></li>
      <li><a href="/projects/podcast">Archives</a></li>
    </ul>
    </div>

    </div>

  </body>
</PageLayout>
