---
import "../styles/global.css";
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from "@vercel/speed-insights/astro";
import Navigation from "../components/TopNavigation.astro";
import GlobalFooter from "../components/GlobalFooter.astro";
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/tk.png" />
		<link rel="icon" href="/favicon.ico" />
        <link rel="stylesheet" href="https://use.typekit.net/lbp7mnn.css">
		<meta name="generator" content={Astro.generator} />
    <Analytics/>
    <SpeedInsights/>
		<title>{frontmatter.title} - Debas Archives</title>
	</head>
	
	<body>	
	<Navigation />
  <div class="debas-header">
      <h1>{frontmatter.title}</h1>
      <div class="blog-meta">
        <p>by {frontmatter.author} | published on {frontmatter.pubDate}</p>
      </div>
      <div class="blog-hero-image">
      </div>
  </div>
	<div class="page-content debas-content">
    <slot />
  </div>  
	<GlobalFooter />
	</body>

</html>
